
CONVEX_DEPLOYMENT=dev:your-convex-deployment

CONVEX_URL=https://your-convex-deployment.convex.cloud

CONVEX_SITE_URL=https://your-convex-deployment.convex.site


# after setting the envs run bun env.ts in the root directory
